.intro {
  color: rgb(248, 8, 8);
  text-align: right;
  font-style: italic;
}

div.text-image {
  height: 20px;
  overflow: visible;
}

img {
  float: center;
  width: 150px;
  line-height: 20px;
}

p {
  text-align: justify;
  font-size: 15px;
}